
/* PORSCHE LOGIN SCREEN
=============================================*/

.login-screen-logo {text-align:center;border-right: 1px #888 solid;padding-top: 50px;padding-bottom: 50px;padding-right:5px;-webkit-box-shadow: 1px 0 0 0 rgba(255,255,255,0.3);box-shadow: 1px 0 0 0 rgba(255,255,255,0.3);}

.fields-container h2{text-align:left;margin-left:105px;}

.fields-container{text-align:center;float:none;margin:0;padding:0;}

.fields-container input[type=submit]{text-align:left;float: left;margin-left:110px;}

.submit{font-family:'FontAwesome'; color: #fff;}

.fields i a{font-family:Arial;font-style: italic;color: #222;font-size: 11px;margin-right:90px;text-decoration:none;}

.fields i a:hover{color: #656565;}

.push-down{margin-top:20%;}

.footer{position:fixed;bottom:0;font-family:Arial;font-size: 12px;color:#333;}

.footer p{text-align:center;}

.footer p a{text-align:right;text-decoration:none;font-weight:bold;color:#333;}

.break-tweak{display:none;}


/* MEDIA QUERIES 
============================================*/

/*.columns{border:1px #ff0000 solid;}*/ /* TO FIND ELEMENTS CAUSING HORIZONTAL SCROLL IN MOBILE VERSION */


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}/*END*/


/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

/*.push-down{margin:0; padding:0;}*/

.login-screen-logo{border-right: 1px #cccccc solid;padding-top: 50px;padding-bottom: 50px;padding-right:5px;margin:0;}

.fields input{margin:0;padding:0;}

.fields-container{padding:0;margin:0;text-align:center;}

.fields-container h2{}

.fields input[type=text]{}

.fields input[type=submit]{text-align:center;float: none;margin-left:0;}

.fields i a{text-align:center;color:#333333;text-decoration:underline;font-weight:bold;padding:0;margin:0;}

.break-tweak{display:block;padding:0;margin:0;}

.footer{bottom:-50px;position:relative;}

}/*END*/

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

.push-down{margin:0; padding:0;}

.login-screen-logo{border:none;box-shadow:none;padding-top:10px;margin:0;}

.fields input{margin:0;padding:0;}

.fields-container{padding:0;margin:0;text-align:center;}

.fields-container h2{}

.fields input[type=text]{}

.fields input[type=submit]{text-align:center;float: none;margin-left:0;}

.fields i a{text-align:center;color:#333333;text-decoration:underline;font-weight:bold;padding:0;margin:0;}

.break-tweak{display:block;padding:0;margin:0;}

.footer{bottom:-50px; position:relative;padding:0;margin:0;}

}/*END*/



/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}/*END*/

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 240px) and (max-width: 480px)  {}/*END*/



